@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*-------------------------------------------------------------*/
:root {
  --form-control-color: #cacaca;
}

body {
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1110px;
  margin: 0px auto;
}

.starter__body-img {
  min-height: 800px;
  background: #222429 url("../img/bike1.jpg") center/cover no-repeat;
}

.header {
  padding: 32px 30px 0px 30px;
  max-width: 655px;
  margin: 0px auto;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px -20px;
}
.header__column {
  padding: 0px 20px;
}
.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #4d4959;
  line-height: 40px;
}
.header__item a {
  color: #4d4959;
}
.header__dot {
  margin: 0px 30px;
}
@media (max-width: 770px) {
  .header .header__column {
    padding: 20px 10px;
  }
  .header .header__item {
    font-size: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 426px) {
  .header .header__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .header .header__column {
    padding: 19px 10px;
  }
  .header .header__link_white a {
    color: #fff;
    background-color: rgba(76, 76, 76, 0.7);
    border-radius: 20px;
    padding: 0px 5px;
  }
}

.generation {
  background: #f7f7f7 url("../") 0 0 no-repeat;
}
.generation__body {
  padding: 115px 40px;
  max-width: 1080px;
  margin: 0px auto;
}
.generation__icon {
  text-align: center;
  margin: 0px 0px 30px 0px;
}
.generation__title {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #353738;
  text-transform: uppercase;
  margin: 0px 0px 40px 0px;
}
.generation__text {
  text-align: center;
  font-size: 18px;
  line-height: 34px;
  color: #848789;
}
@media (max-width: 770px) {
  .generation .generation__body {
    padding: 40px 25px;
  }
  .generation .generation__title {
    font-size: 24px;
    margin: 0px 0px 30px 0px;
  }
  .generation .generation__text {
    letter-spacing: 1px;
    font-size: 23px;
  }
}
@media (max-width: 426px) {
  .generation .generation__body {
    padding: 30px 20px;
  }
  .generation .generation__icon {
    margin: 0px 0px 20px 0px;
  }
  .generation .generation__text {
    padding: 0px 10px;
  }
}

.icon {
  text-align: center;
  margin: 0px 0px 30px 0px;
}

.title {
  text-align: center;
  margin: 0px 0px 25px 0px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.2em;
  color: #353738;
}

.text {
  text-align: justify;
  font-size: 16px;
  line-height: 30px;
  color: #848789;
}
.text p {
  position: relative;
}
.text p::after {
  content: "";
  position: absolute;
  bottom: -37px;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  width: 50px;
  height: 1px;
  background-color: #848789;
}

@media (max-width: 770px) {
  .icon {
    margin: 0px 0px 30px 0px;
  }
  .title {
    margin: 0px 0px 30px 0px;
    font-size: 24px;
  }
  .text {
    font-size: 22px;
  }
}
@media (max-width: 426px) {
  .title {
    line-height: 30px;
  }
  .text {
    letter-spacing: 1px;
    line-height: 35px;
  }
}
.oliva__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.oliva__column-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.oliva__column-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.oliva__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.oliva__item_rigth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.oliva__img {
  width: 100%;
}
.oliva__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.oliva__icon {
  padding: 70px 0px 0px 0px;
}
.oliva__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 55px 80px 55px;
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 770px) {
  .oliva .oliva__column-left {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .oliva .oliva__column-right {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .oliva .oliva__icon {
    padding: 40px 0px 0px 0px;
  }
  .oliva .oliva__text {
    padding: 0px 35px 70px 35px;
  }
}
@media (max-width: 426px) {
  .oliva .oliva__icon {
    padding: 35px 0px 0px 0px;
  }
  .oliva .oliva__text {
    padding: 0px 30px 65px 30px;
  }
}

.img-bg {
  background-color: #282f35;
}

.la_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.la__column-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.la__column-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.la__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.la__item_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.la__icon {
  padding: 60px 0px 0px 0px;
}
.la__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 65px 90px 65px;
}
.la__img {
  width: 100%;
}
.la__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 770px) {
  .la .la__column-left {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin: 0px 0px 5px 0px;
  }
  .la .la__column-right {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin: 5px 0px;
  }
  .la .la__icon {
    padding: 40px 0px 0px 0px;
  }
  .la .la__text {
    padding: 0px 35px 70px 35px;
  }
}
@media (max-width: 426px) {
  .la .la__icon {
    padding: 35px 0px 0px 0px;
  }
  .la .la__text {
    padding: 0px 30px 65px 30px;
  }
}

.hulot__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.hulot__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hulot__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hulot__item_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hulot__img {
  width: 100%;
}
.hulot__img img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hulot__icon {
  padding: 60px 0px 0px 0px;
}
.hulot__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 68px 90px 68px;
}
@media (max-width: 770px) {
  .hulot .hulot__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin: 5px 0px;
  }
  .hulot .hulot__icon {
    padding: 40px 0px 0px 0px;
  }
  .hulot .hulot__text {
    padding: 0px 35px 70px 35px;
  }
}
@media (max-width: 426px) {
  .hulot .hulot__icon {
    padding: 35px 0px 0px 0px;
  }
  .hulot .hulot__text {
    padding: 0px 30px 65px 30px;
  }
}

.aod {
  text-align: center;
}
.aod .form {
  display: inline-block;
  margin: 0px 0px 68px 0px;
}
.aod__body {
  max-width: 1080px;
  margin: 0px auto;
}
.aod_icon {
  margin: 124px 0px 37px 0px;
}
.aod__title {
  margin: 0px 0px 26px 0px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #353738;
}
.aod__title span {
  font-weight: 300;
  color: #848789;
}
.aod__text {
  margin: 0px 30px 95px 30px;
  font-style: italic;
  font-size: 24px;
  line-height: 34px;
  color: #848789;
}
.aod .labelradio {
  margin: 0px 9px 0px 0px;
}
.aod .labelradio:last-child {
  margin: 0;
}
.aod input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1em;
  height: 1em;
  border: 0.15em solid #cacaca;
  border-radius: 50%;
  -webkit-transform: translateY(-0.075em);
      -ms-transform: translateY(-0.075em);
          transform: translateY(-0.075em);
  display: inline-grid;
  place-content: center;
  cursor: pointer;
}
.aod input[type=radio]::before {
  content: "";
  width: 1em;
  height: 1em;
  border-radius: 50%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 120ms -webkit-transform ease-in-out;
  transition: 120ms -webkit-transform ease-in-out;
  -o-transition: 120ms transform ease-in-out;
  transition: 120ms transform ease-in-out;
  transition: 120ms transform ease-in-out, 120ms -webkit-transform ease-in-out;
  -webkit-box-shadow: inset 1em 1em var(--form-control-color);
          box-shadow: inset 1em 1em var(--form-control-color);
}
.aod input[type=radio]:checked::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
@media (max-width: 770px) {
  .aod .aod_icon {
    margin: 50px 0px 30px 0px;
  }
  .aod .aod__title {
    margin: 0px 0px 20px 0px;
    font-size: 24px;
  }
  .aod .aod__text {
    margin: 0px 30px 45px 30px;
    font-size: 26px;
    line-height: 38px;
  }
  .aod .form {
    margin: 0px 0px 30px 0px;
  }
}
@media (max-width: 426px) {
  .aod .aod_icon {
    margin: 40px 0px 30px 0px;
  }
  .aod .aod__title {
    margin: 0px 10px 20px 10px;
    font-size: 26px;
  }
  .aod .aod__text {
    margin: 0px 20px 45px 20px;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.05em;
  }
  .aod .form {
    margin: 0px 0px 30px 0px;
  }
}

.pictures__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.pictures__row_sides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pictures__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pictures__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.pictures__item_side {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.pictures__item_center {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.pictures__img {
  width: 100%;
  position: relative;
}
.pictures__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.pictures__img:hover::after {
  content: "SHOP NOW";
  position: absolute;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.2em;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -25px);
      -ms-transform: translate(-50%, -25px);
          transform: translate(-50%, -25px);
  width: 130px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: url("../img/icons/bike.png") 50% 0 no-repeat;
}
.pictures__img:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 194, 158, 0.8);
}
@media (max-width: 900px) and (min-width: 770px), (max-width: 320px) {
  .pictures .pictures__img:hover::after {
    content: "SHOP NOW";
    position: absolute;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2em;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -25px);
        -ms-transform: translate(-50%, -25px);
            transform: translate(-50%, -25px);
    width: 100px;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background: url("../img/icons/bike.png") 50% 0 no-repeat;
  }
}
@media (max-width: 770px) {
  .pictures .pictures__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .pictures .pictures__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.discover {
  background-color: #282f35;
  text-align: center;
}
.discover__body {
  padding: 75px 0px;
}
.discover__btn {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #fff;
  padding: 20px 55px;
  border: 1px solid #cacaca;
  margin: 0px 30px;
}

.stay {
  text-align: center;
}
.stay__body {
  padding: 100px 0px;
}
.stay__logo {
  margin: 0px 0px 38px 0px;
}
.stay__title {
  margin: 0px 0px 38px 0px;
  font-style: italic;
  font-size: 24px;
  color: #848789;
}
.stay__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px -4px;
  padding: 0px 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.stay__column {
  padding: 0px 4px;
}
.stay__email {
  display: inline-block;
  min-height: 70px;
  min-width: 400px;
  border: 1px solid #cacaca;
  padding: 0px 0px 0px 20px;
  margin: 0px 0px 30px 0px;
  font-style: italic;
  font-size: 20px;
  color: #929292;
}
.stay__btn {
  display: inline-block;
  border: 1px solid #cacaca;
  font-weight: 300;
  color: #fff;
  font-size: 24px;
  padding: 0px 44px;
  background-color: #64c29e;
  min-height: 68px;
  line-height: 68px;
}
@media (max-width: 470px) {
  .stay .stay__email {
    min-width: 300px;
  }
  .stay .stay__body {
    padding: 50px 0px;
  }
  .stay .stay__title {
    margin: 0px 0px 30px 0px;
    font-size: 28px;
  }
}
@media (max-width: 340px) {
  .stay .stay__email {
    min-width: 200px;
  }
}

.footer {
  background-color: #f7f7f7;
  font-style: italic;
  line-height: 18px;
  color: #848789;
}
.footer__body {
  padding: 100px 30px;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__item span {
  display: inline-block;
  margin: 0px 10px 0px 0px;
}
.footer__item_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__item_center a {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.footer__item_right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer__text p:first-child {
  font-size: 16px;
  font-weight: 700;
}
.footer__img {
  padding: 0px 10px;
}
@media (max-width: 770px) {
  .footer .footer__body {
    padding: 50px 30px;
    font-size: 18px;
  }
  .footer .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer__column {
    margin: 0px 0px 30px 0px;
  }
  .footer .footer__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .footer .footer__text {
    text-align: center;
    line-height: 30px;
  }
  .footer .footer__text p:first-child {
    font-size: 20px;
    font-weight: 700;
  }
  .footer .footer__img {
    padding: 0px 16px;
  }
}
@media (max-width: 270px) {
  .footer .footer__body {
    padding: 40px 20px;
  }
  .footer .footer__img {
    padding: 0px 14px;
  }
}